<footer class="page-footer" id="fooer">

    <div class="row">
        <div class="col l4 s12">
            <h4 class="white-text center ispt">ISPT</h4>
            <p class="grey-text text-lighten-4 center">Institut Supérieur Professionnel de Tourisme El Kantaoui</p>

        </div>
        <div class="col l2 s12">
            <h5 class="white-text">A propos</h5>
            <ul class="list">
                <li><a class="grey-text text-lighten-3" href="#!">Evenement</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Espace</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Contactez-Nous</h5>
            <div class="row">
                <i class="material-icons col l1 s1">location_on</i>
                <p class="grey-text text-lighten-4 col l7 s11">
                    Institut Supérieur Professionnel de Tourisme BP.31 - 4089 ELKantaoui Sousse
                </p>
            </div>
            <div class="row">
                <i class="material-icons col l1 s1">phone</i>
                <div class="col l7 s11">
                    <p class="grey-text text-lighten-4 ">
                        +216 73 348 922
                    </p>
                    <p class="grey-text text-lighten-4 ">
                        +216 73 348 923
                    </p>
                    <p class="grey-text text-lighten-4 ">
                        +216 73 348 925
                    </p>
                </div>
            </div>
            <div class="row">
                <i class="material-icons col l1 s1">mail</i>
                <p class="grey-text text-lighten-4 col l7 s11">
                    ispt.sousse@ontt.tourism.tn
                </p>
            </div>
        </div>
        <div class="col l3 s12">
            <div class="fmult">
                <h5 class="white-text center">Multimedia</h5>
                <div class="icons center">
                    <a href="#">
                        <fa-icon [icon]="faFacebookF" size="2x" [ngClass]="'contactIcons'" id="fbicon"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faTwitter" size="2x" [ngClass]="'contactIcons'" id="twicon"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faGooglePlusG" size="2x" [ngClass]="'contactIcons'" id="gicon"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faYoutube" size="2x" [ngClass]="'contactIcons'" id="yticon"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="fpart">
                <h5 class="white-text center">Partenaire</h5>
                <img src="../../assets/images/arsii.png" id="arsii_logo" (click)="goTo($event)" />
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>Copyrights © 2019 - Institut Supérieur Professionnel de Tourisme El Kantaoui</p>
            <p>Developpé par ©</p>
            <div>
                <a href="#">
                    <fa-icon [icon]="faLinkedin" size="2x" [ngClass]="'creditIcons'" id="insicon"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="faFacebookSquare" size="2x" [ngClass]="'creditIcons'" id="fbsicon"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="faTwitterSquare" size="2x" [ngClass]="'creditIcons'" id="twsicon"></fa-icon>
                </a>

            </div>
        </div>
    </div>
</footer>